/* _app.jsにのみimportできる */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

/* //////POST PAGE////// */

#postList {
  background-color: #fff;
  height: 100vh;
  padding: 40px;
}

#postList h1 {
  text-align: center;
}

#postList .postContainer {
  /* グリッド使用 */
  display: grid;

  /* 繰り返し指定 + 要素の幅 */
  grid-template-columns: repeat(auto-fit, 400px);

  /* 要素の高さ */
  grid-auto-rows: 300px; 

  /* 要素の間隔 */
  grid-gap: 20px;

  /* 全体をセンタリング */
  justify-content: center;
}

#postList .postDetail {
  color: black;
  border: 2px solid rgb(52, 137, 170);
  background-color: #d2e4db;
  margin: 10px;
  display: block;
  padding: 10px;
  width: 100%;
}

#postList .postForm {
  padding:  5px 10px;
  width: 100%;
}

#postList p {
  width: 100%;
  -webkit-box-sizing: border-box;  /*webkit系*/
  -moz-box-sizing: border-box;  /*Firefox*/
  box-sizing: border-box;
  word-wrap: break-word;
}

#postList .postForm label {
  display: block;
  color: #666;
  font-size: 16px;
  margin-bottom: 5px;
}

#createPost {
 background-color: #d2e4db;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

#createPost .createContainer {
  background-color: white;
  padding: 50px;
}

#createPost .createFormGroup {
  display: block;
  margin-bottom: 15px;
  padding: 5px;
}

#createPost .createFormGroup label{
  display: block;
  color: #666;
  font-size: 16px;
  margin-bottom: 5px;
}

#createPost h2 {
  text-align: center;
  margin-bottom: 10px;
  }

/* //////USER PAGE////// */

#userList {
  background-color: #fff;
  height: 100vh;
  padding: 40px;
}

#userList h1 {
  text-align: center;
}

#userList .userContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#userList .userDetail {
  color: black;
  border: 2px solid rgb(52, 137, 170);
  background-color: #d2e4db;
  width: 400px;
  margin: 10px;
  display: block;
  padding: 10px;
}

#userList .userForm {
  padding:  5px 10px;
}

#userList .userForm label {
  display: block;
  color: #666;
  font-size: 16px;
  margin-bottom: 5px;
}

#createUser {
 background-color: #d2e4db;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

#createUser .createContainer {
  background-color: white;
  padding: 50px;
}

#createUser .createFormGroup {
  display: block;
  margin-bottom: 15px;
  padding: 5px;
}

#createUser .createFormGroup label{
  display: block;
  color: #666;
  font-size: 16px;
  margin-bottom: 5px;
}

#createUser h2 {
text-align: center;
margin-bottom: 10px;
}

/* //////LOGIN PAGE////// */

#loginForm {
  background-color: #d2e4db;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 #loginForm .loginContainer {
  background-color: white;
  padding: 50px;
}

#loginForm .loginFormGroup {
  display: block;
  margin-bottom: 15px;
  padding: 5px;
}

#loginForm .loginFormGroup label{
  display: block;
  color: #666;
  font-size: 16px;
  margin-bottom: 5px;
}

#loginForm h2 {
  text-align: center;
  margin-bottom: 10px;
  }

#loginForm button {
  margin-left: 50px;
  width: 100px;
}





